<script type="text/javascript">
	currentUserId = <%= current_user.id %>
	currentGameId = <%= current_user.game_id %>
</script>

<div class="row">
	<div class="col-md-8">
		<div id="game_container">
			<div id="table">
				<%= image_tag "utils/table.png", :id => "table" %>
				<%= image_tag "utils/uno_button_2.png", :id => "uno_button" %>
			</div>
			<div id="hand">
			</div>

		</div>
	</div>
	<div class="col-md-4">
		<%# ERB.new("../messages/index.html.erb").result(binding) %>
		<%#= render "messages/chat" %>  
		<%= button_to "Start game",   :action => :update, :game_id => cookies[:gameid] %>	
	</div>
</div>

<script type="text/javascript">
var userid = getCookie("userid");
var gameid = getCookie("gameid");

function getCookie(name) {
var value = "; " + document.cookie;
var parts = value.split("; " + name + "=");
if (parts.length == 2) return parts.pop().split(";").shift();
}
function cardPlayed(){
	console.log("userid: " + userid);
	console.log("gameid: " + gameid);
	<%#= link_to(:action => :update, :game_id => 'gameid', :card_id => 'userid', :user_id => 'userid')%>
}
  window.onbeforeunload = confirmExit;
  function confirmExit()
  {
    
  }
</script>
