<!DOCTYPE html>
<html>
<head>
	<title>Uno - game</title>
</head>
<body>

<div class="col-md-8">
	<div id="game_container">
		<div id="table">
			<%= image_tag "utils/table.png", :id => "table" %>
			<%= image_tag "utils/uno_button_2.png", :id => "uno_button" %>
		</div>
	</div>

</div>
<script id="hand_template" type="text/x-handlebars-template">
	<div id="hand">
		<table>
			<tr>
				{{#each cards}}
				{{getCardImg card id}}
				{{/each}}
			</tr>
		</table>
	</div>
</script>

<script type="text/javascript">

var test_structure = document.getElementById("hand_template").innerHTML;

var template = Handlebars.compile(test_structure);

Handlebars.registerHelper("getCardImg", function(cardNo, id){
	cardNo = Handlebars.Utils.escapeExpression(cardNo);
	id = Handlebars.Utils.escapeExpression(id);
	//var cardImage = "test";//'<img id="'+ id +'" src="../../public/images/cards/card_' + cardNo + '.png">';
	var cardImage = '<td>image_tag("cards/card_' + cardNo + '.png")</td>'

	return new Handlebars.SafeString(cardImage);
});

var test_vars = template({
	cards: [
		{card: "001", id: "card"},
		{card: "002", id: "card"},
		{card: "003", id: "card"},
		{card: "004", id: "card"},
		{card: "005", id: "card"},
		{card: "006", id: "card"},
		{card: "007", id: "card"}
	]
});

document.getElementById("table").innerHTML += test_vars;

</script>
<div class="col-md-4">
    <div class="chat">
      <div class="chat-title">
        <h2>Chat</h2>
        <figure class="avatar">
          <% avatar = current_user[:avatar]%>
          <% if (avatar == nil|| avatar == "") %>
             <%avatar = "http://www.emoticonswallpapers.com/avatar/penguins/penguin%20pingouin%20pinguino%2045.png"%>
          <%end%>
          <img src="<%= avatar%>"> 
        </figure>
      </div>
      <div class="messages">
        <div class="message-content"> 
        </div>
      </div>
      <%= form_for @message, remote: true do |f| %>
        <div class="message-box">
          <div class="message-input"> 
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.text_area :message, rows: 2, cols: 30 %>
          </div>
        <div class="message-submit">
          <%= f.submit 'Send' %>
        </div>
        </div>
      <% end %>
    </div> <!-- End of class chat -->
</div> <!-- End of class .col-md-4 -->
</body>
</html>